
<%- include('../partials/header') %> 
<body id="page-top">
   <section id="about">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 mx-auto">
           <h2>Séries</h2>
           <p class="lead">Todas as séries cadastradas </p>
      

           <table class="table table-bordered table-hover">
            <thead class="thead-dark">
               
                <p style="text-align: right;"><a type="button" class="btn btn-info" href="/series/nova">Nova série</a></p>
              
               
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
               
              </tr>
            </thead>
            <tbody>
                
              <tr>
                <% series.forEach(serie => { %>
               
               
                <td><%= serie.name %></td>
                <td><%= serie.status %></td>
                
                <% }); %>
              </tr>
           
            </tbody>
          </table>
          
   
         </div>
       </div>
     </div>
   </section>
   <%- include('../partials/footer') %> 