
<%- include('../partials/header') %> 
<body id="page-top"></body>
   <section id="about">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 mx-auto">
           <h2>Nova série</h2>
                <form method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nome</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="status">Situação:</label>
                    <select class="form-control" id="status" name="status">
                      <option value="to-watch">Para assistir</option>
                      <option value="watching">Assistindo</option>
                      <option value="watched">Assistido</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
         </div>
       </div>
     </div>
   </section>
   <%- include('../partials/footer') %> 