
<%- include('./partials/header') %> 
 <body id="page-top" class="bg">

    <header class="bg-info text-white">
      <div class="container text-center">
        <!-- <h1><a href="/"><img src="/images/logo.png" alt="Minhas Séries" /></a></h1> -->
        <h1 class="title">MINHAS SÉRIES</h1>
        <h2 class="lead">Gerencie suas séries com Express + Mongo + NodeJS</h2>
      </div>
    </header>

    <%- include('./partials/footer') %> 